body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("Images/webapp-background.png");
    background-size: 100%;
    background-attachment: fixed;
}

#div-app-icon {
    height: fit-content;
    width: fit-content;
    margin: auto;
}

#div-building-details {
    height: fit-content;
    width: fit-content;
    margin: auto;
    text-align: center;
}

#btn-calculate {
    margin-top: 30px;
    background-color: aliceblue;
    padding: 5px;
}

#div-output {
    height: fit-content;
    width: fit-content;
    margin: auto;
    text-align: center;
}

#div-location {
    height: fit-content;
    width: fit-content;
    margin: auto;
    text-align: center;
}

#div-camera {
    height: fit-content;
    width: fit-content;
    margin: auto;
}